{% extends "base.html" %}
{% block title %}Task {{ object.id }}{% endblock %}

{% block main_content %}
    <h1>Task</h1>
    <p><b>Description</b>: {{ object }}</p>
    <ul>
        <li>
            {{ object.is_completed|yesno:"Done,Not Done" }}
        </li>
        <li><i class="far fa-calendar-alt"></i>&nbsp;Created: {{ object.created|date:"Y-b-d H:i" }}</li>
        <li><i class="far fa-clock"></i>&nbsp;Last Change: {{ object.updated }}</li>
    </ul>
    <i class="fas fa-clipboard-list"></i>&nbsp;<a href="{% url "tasks:list" %}">Back to list</a>
{% endblock %}
